.shopTitle {
    margin-top: 80px;
    text-align: center;
    font-size: 25px;
    
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;

}

.product {
    border-radius: 1px; 
    width: 300px;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product img {
    width: 300px;
}

.product .description {
    text-align: center;
}

.product:hover {
    transition: 0.3s ease-out;
    cursor: pointer;
}

.addToCartButton {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.addToCartButton:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}


@media screen and ( min-width : 320px) and (max-width : 480px) {
    .shopTitle {
        margin-top: 40px;
        text-align: center;
        font-size: 16px;
    }

    .products {
        width: 1px;
        height: auto;
        display: block;   
            
    }

    .product {
        border-radius: 15px;
        border: 2px solid green;
        width: 330px;
        height: 300px;
        margin: 5px 5px 5px 10px;
        justify-content: center;
        align-items: center;
        padding: auto;
    
    }

    
    .product img {
    width: 130px;
    height: 250px;
    overflow-x: none;
}

}

/* @media screen and (max-width :480px) {
    .shopTitle {
        margin-top: 35px;
        text-align: center;
        font-size: 12px;
    }

    .products {
        width: 100%;
        height: auto;
        display: table-row;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 10px;    
            
    }

    .product {
        border-radius: 15px;
        width: 400px;
        height: 300px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    
    .product img {
    width: 150px;
    height: auto;
    overflow-x: none;
}

} */
